body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: $font-primary;
    font-size: $font-main;
    color: $color-text-main;
}