body {
    margin: 0;
}

.page {
    font-family: $font-primary;
    font-size: $font-main;
    color: $color-text-main;
}

.container {
    margin: 0 auto;
    width: 350px;
    text-align: center;
}