@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin clearfix {
    @content;
    &::after {
    content: '';
    display: table;
    clear: both;
    }
}

@mixin phablet {
    @media (min-width: $phablet-width) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}