.header {
    position: relative;
    background-color: $color-grad-end;
    background: linear-gradient(to right, $color-grad-start, $color-grad-end);
    text-align: center;

    &__wave {
        position: absolute;
        left: 0;
        width: 100%;
        height: 50px;
    }

    &__wave_updown {
        transform: rotate(180deg);
    }

    &__wave_bottom {
        bottom: 0;
    }
    
    &__logo {
        position: relative;
        padding: 1.5em;
        width: 200px * 0.8;
        height: 150px * 0.8;         
        transition-duration: $delay-global;

        @include tablet {
            width: 200px * 0.9;
            height: 150px * 0.9;            
        }

        @include desktop {
            width: 200px;
            height: 150px;
        }
    }
    
    &__title {
        margin: 0 auto;
        padding: 0 1em;
        max-width: 18em;        
        font-family: $font-secondary;
        font-size: $font-title * 0.8;
        color: $color-text-secondary;
        transition-duration: $delay-global;

        @include phablet {
            margin-top: 1em;
        }

        @include tablet {
            font-size: $font-title * 0.9;            
        }

        @include desktop {
            font-size: $font-title;            
        }
    }
    
    &__subtitle {
        padding: 0 1em;        
        padding-bottom: 13em;
        font-size: $font-subtitle;
        color: $color-text-secondary;
        transition-duration: $delay-global;        

        @include phablet {
            padding-bottom: 16em;
        }

        @include tablet {
            padding-bottom: 10em;
        }

        @include desktop {
            padding-bottom: 12em;
        }
    }

    &__form {
        position: absolute;
        transform: translate(50%, -50%);
        right: 50%;
        max-width: 1080px;
        z-index: 1;

        transition-duration: $delay-global;
    }

    &::after {
        content: url('../img/bg_wave.svg');
        display: block;
        position: absolute;
        width: 100%;
        bottom: -10px;
    }
}