.step {
	transition-duration: $delay-global;

	&__image {
		height: 120px;
		transition-duration: $delay-global;

		@include phablet {
			height: 80px;
		}

		@include tablet {
			height: 100px;
		}
	}

	&__caption {
		display: block;
		padding: 0.5em;
	}
	&__title {
		font-family: $font-secondary;
		font-size: $font-subtitle;
	}
}