<footer class="footer">

    <div class="footer__top">

        <canvas width="100" height="100" class="canvas-wave footer__wave footer__wave_updown"></canvas>
        <canvas width="100" height="100" class="canvas-wave footer__wave footer__wave_bottom"></canvas>

        <div class="slick footer__slick">
            <img src="img/slick_visa.png" alt="VISA" class="slick__img">
            <img src="img/slick_mastercard.png" alt="Mastercard" class="slick__img">
            <img src="img/slick_pci.png" alt="PCI" class="slick__img">
            <img src="img/slick_visa-electron.png" alt="VISA-electron" class="slick__img">
            <img src="img/slick_maestro.png" alt="Maestro" class="slick__img">
            <img src="img/slick_ae.png" alt="American Express" class="slick__img">
            <img src="img/slick_diners.png" alt="Diners Club" class="slick__img">
            <img src="img/slick_jsb.png" alt="JSB" class="slick__img">
            <img src="img/slick_mastercard-secure.png" alt="Mastercard SecureCode" class="slick__img">
            <img src="img/slick_unionpay.png" alt="Unionpay" class="slick__img">
            <img src="img/slick_visa-verified.png" alt="Verified by VISA" class="slick__img">
        </div>
    
        <h2 class="footer__title">Take the first toward successful payment processing now!</h2>
        <a href="#form-start" class="button button_apply footer__button js-button-apply">Apply now!</a>
    </div>

	<div class="footer__bottom">
        <div class="footer__links">
            <a href="#" class="footer__link">Privacy Policy</a>
            <a href="#" class="footer__link">Terms &amp; Conditions</a>
        </div>
		<p class="footer__copyright">&copy; 2009 - 2018 PaySpace. All right reserved.</p>
	</div>

</footer>