<header class="header">

    <canvas width="100" height="100" class="canvas-wave header__wave header__wave_updown"></canvas>
    <canvas width="100" height="100" class="canvas-wave header__wave header__wave_bottom"></canvas>
            
    <img src="img/logo_tripplepay.svg" alt="TripplePay Logo" class="header__logo">
    <h1 class="header__title">Betting, lottery or gambling business? No problem! We're real pros at this!</h1>
    <p class="header__subtitle">We'll help you start processing and keep you in the business.</p>

    <form action="/" id="form-start" class="form header__form">
        <div class="form__fields">
            <span class="form__wrap">
                <input type="text" placeholder="Name" name="name"  class="form__input">
            </span>
            <span class="form__wrap">
                <input type="email" placeholder="Email" name="email"   class="form__input">
            </span>
            <span class="form__wrap">
                <input type="text" placeholder="Site URL" name="url"  class="form__input">
            </span>
        </div>
        <button type="submit" class="button form__button">Get started!</button>
        <div class="form__sent js-form-sent">
            <p class="form__sent-text">Thank you!<br>Your information has been sent.</p>
            <img src="img/form-success.png" alt="Success">
        </div>
    </form>

</header>